<div class = "container">
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
     
       <%= link_to "Home", root_path , class: "navbar-item" %>

       <%= link_to "My list", wishes_path , class: "navbar-item" %>       
    </div>
    </div>
    
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'button is-info' %>
          <%= link_to "Edit Account", edit_user_registration_path, class: 'button is-light' %>
          
        </div>
      </div>
    </div>
</nav>

<p><h1 class= "title is-3">FLOPFLIX</h1></p>
<p><h2 class="subtitle is-4">Edit account: <% resource_name.to_s.humanize %></h2></p>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name", :class => "input is-info" %>
  </div>

  <div class="field">
    <%= f.label :birthdate %><br />
    <%= f.date_field :birthdate, autofocus: true, :class => "input is-info"  %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "input is-info" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", :class => "input is-info" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => "input is-info" %>
  </div>

  <div class="field">
    <%= f.label :current_password  %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", :class => "input is-info" %>
  </div>

  <div class="actions">
  <%= f.submit "Update" , class: "button is-info" %> 
   
  </div>
<% end %>

<br>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete , class: 'button is-info'%></p>



</div>